/* THEME */

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ecf0f1;
  --tertiary-bg-color: #8395a7;
  --primary-text-color: #000000;
  --primary-ui-color: #48dbfb;
  --secondary-ui-color: #0abde3;
  --disabled-ui-color: #8395a7;
  --const-white: #ffffff;
}

/* RESET CSS */

* {
  transition: all 0.1s ease-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: var(--primary-text-color);
  min-width: 320px;
  background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  font-weight: bold;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
  letter-spacing: 4px;
}
h2::before,
h2::after {
  color: var(--primary-ui-color);
}
h2::before {
  content: '<';
}
h2::after {
  content: ' />';
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

li::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--primary-ui-color);
  display: inline-block;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: var(--primary-ui-color);
  cursor: pointer;
}

q {
  font-style: italic;
  font-weight: bold;
}

section {
  padding: 100px 0;
}

/* COMMON STYLES */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.bg {
  background-color: var(--primary-bg-color);
}

.bg-alt {
  background-color: var(--secondary-bg-color);
}

/* HEADER SECTION */

.header {
  padding: 100px 0;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__inner-container {
  text-align: center;
}

.header__img-wrapper img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.header__title {
  margin-top: 25px;
}

.header__icons-container {
  margin-top: 25px;
}

.header__icon-link {
  display: inline-block;
  margin: 0 5px;
}

.header__icon-link a {
  padding: 5px;
}

.header__icon-link svg {
  color: var(--disabled-ui-color);
  width: 22px;
}

.header__icon-link:hover svg {
  color: var(--secondary-ui-color);
}

/* INTRO SECTION */

.intro__description {
  text-align: center;
  font-size: 18px;
}

.intro__sign {
  margin-top: 25px;
  text-align: right;
  color: var(--disabled-ui-color);
}

/* TIMELINE SECTION */

.timeline {
  position: relative;
}

.timeline::before,
.timeline::after {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 100px;
}

.timeline::before {
  top: 0;
}

.timeline::after {
  bottom: 0;
}

.timeline__title {
  text-align: center;
  background-color: var(--primary-bg-color);
  padding-bottom: 50px;
}

.timeline__inner-container {
  position: relative;
}

.timeline__filled-bar,
.timeline__progress-bar {
  position: fixed;
  top: 0;
  left: calc(50% - 4px);
  width: 8px;
  z-index: -1;
}

.timeline__filled-bar {
  background-color: var(--primary-ui-color);
  height: 50%;
}

.timeline__progress-bar {
  z-index: -2;
  background-color: var(--secondary-bg-color);
  height: 100%;
}

.timeline__item {
  padding: 50px 0;
  width: 50%;
  text-align: center;
  /* display: flex; */
}

.timeline__item.timeline__item--alt {
  margin-left: 50%;
}

.timeline__item-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-bg-color);
}

.timeline__item-title strong {
  font-size: 28px;
  font-weight: bold;
}

.timeline__item-list {
  display: inline-block;
}

/* LANGUAGES SECTION */

.languages__inner-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.languages__description p {
  font-weight: 600;
}

.languages__description span {
  margin-top: 5px;
  display: block;
  color: var(--disabled-ui-color);
  font-size: 16px;
  text-align: right;
}
